@font-face {
	font-family: iconfont; /* Project id 3589761 */
	src: url("//at.alicdn.com/t/c/font_3589761_1ip1a1a043l.woff2?t=1660553277520") format("woff2"),
		url("//at.alicdn.com/t/c/font_3589761_1ip1a1a043l.woff?t=1660553277520") format("woff"),
		url("//at.alicdn.com/t/c/font_3589761_1ip1a1a043l.ttf?t=1660553277520") format("truetype");
}
.iconfont {
	font-family: iconfont !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-qiandai::before {
	content: "\e600";
}
.icon-xiaoliang::before {
	content: "\e61e";
}
.icon-shoucang::before {
	content: "\e86d";
}
.icon-kucunguanli::before {
	content: "\e626";
}
